{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block body %}


<!-- MAIN CONTENT -->
<div class="container-fluid mt-4">
    <div class="row">

        <!-- DESKTOP SIDEBAR -->
        <div class="col-lg-2 d-none d-lg-block px-4">
            <div class="sidebar shadow-sm">
            <a href="/" class="{% if page == 'home' %}active{% endif %}"><i class="bi bi-house me-2"></i>Dashboard</a>
            <a href="/transaction" class="{% if page == 'transaction' %}active{% endif %}"><i class="bi bi-arrow-left-right me-2"></i>Transaction</a>
            <a href="{% url 'seller_receipts' %}" class="{% if page == 'receipt' %}active{% endif %}">
<i class="bi bi-receipt me-2"></i>Receipts
</a>
            <a href="/notify" class="{% if page == 'notification' %}active{% endif %}">
                  <i class="bi bi-bell me-2"></i>
                  Notification
                  {% if unread_notifications > 0 %}
                  <span class="badge bg-danger ms-1">{{ unread_notifications }}</span>
                  {% endif %}
                </a>
            <!-- <a href="/setting" class="{% if page == 'setting' %}active{% endif %}"><i class="bi bi-gear me-2"></i>Setting</a> -->
            <a href="/support" class="{% if page == 'support' %}active{% endif %}"><i class="bi bi-headset me-2"></i>Support & Help</a>
            <a href="/profile" class="{% if page == 'profile' %}active{% endif %}"><i class="bi bi-person-circle me-2"></i>Profile</a>
            <a href="/logout" class="{% if page == 'logout' %}active{% endif %}" onclick="return confirm('Want to logout?')"><i class="bi bi-box-arrow-right me-2"></i>Logout</a>
            </div>
        </div>

        <!-- PAGE CONTENT -->
        <div class="col-lg-10 px-4">
            {% if not request.user.profile.profile_completed %}
<div class="container mt-0">

<div class="alert alert-warning d-flex justify-content-between align-items-center shadow-sm">

<div>
<strong>Complete your profile</strong><br>
<span class="text-muted">
Add your details to start using Scrapify properly.
</span>
</div>

<a href="{% url 'user_profile' %}" class="btn btn-dark">
Complete Profile
</a>

</div>

</div>
{% endif %}
            <div class="d-flex justify-content-between align-items-center mb-1">
                <h3 class="fw-bold mb-0">
 Browse Scrap For Sale
</h3>
                <div class="d-flex gap-2">

    <a href="/view-collectors/" class="btn btn-success">
        <i class="bi bi-person"></i> View Collectors
    </a>

    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#postScrapModal">
        <i class="bi bi-plus"></i> Post New Scrap
    </button>

</div>
            </div>

            <!-- SCRAP CARDS -->
             {% for scrap in scraps %}
                <div class="card mb-3">
                <div class="card-body">
                    <h5>{{ scrap.get_scrap_type_display }}</h5>
                    <p>Quantity: {{ scrap.quantity }}</p>
                    <p>Area: {{ scrap.area }}</p>

                    <span class="badge bg-info">
                        {{ scrap.get_status_display }}
                    </span>
                </div>
                </div>
            {% endfor %}
            <div class="row g-3 mt-2">

<!-- Plastic -->
<div class="col-md-3" style="cursor: pointer;">
  <div class="card scrap-card shadow-sm text-center p-3"
       data-scrap="plastic"
       data-bs-toggle="modal"
       data-bs-target="#scrapModal">

    <img src="/static/plastic.webp" class="mx-auto mb-2" width="260">
    <h6>Plastic</h6>

  </div>
</div>

<!-- Paper -->
<div class="col-md-3" style="cursor: pointer;">
  <div class="card scrap-card shadow-sm text-center p-3"
       data-scrap="paper"
       data-bs-toggle="modal"
       data-bs-target="#scrapModal">

    <img src="/static/news.jpg" class="mx-auto mb-2" width="260">
    <h6>Paper</h6>

  </div>
</div>

<!-- Iron -->
<div class="col-md-3" style="cursor: pointer;">
  <div class="card scrap-card shadow-sm text-center p-3"
       data-scrap="iron"
       data-bs-toggle="modal"
       data-bs-target="#scrapModal">

    <img src="/static/iron.webp" class="mx-auto mb-2" width="260">
    <h6>Iron</h6>

  </div>
</div>

<!-- Aluminium -->
<div class="col-md-3" style="cursor: pointer;">
  <div class="card scrap-card shadow-sm text-center p-3"
       data-scrap="aluminium"
       data-bs-toggle="modal"
       data-bs-target="#scrapModal">

    <img src="/static/aluminium.png" class="mx-auto mb-2" width="260">
    <h6>Aluminium</h6>

  </div>
</div>

<!-- Copper -->
<div class="col-md-3" style="cursor: pointer;">
  <div class="card scrap-card shadow-sm text-center p-3"
       data-scrap="copper"
       data-bs-toggle="modal"
       data-bs-target="#scrapModal">

    <img src="/static/copper.jpg" class="mx-auto mb-2" width="260">
    <h6>Copper</h6>

  </div>
</div>

<!-- Brass -->
<div class="col-md-3" style="cursor: pointer;">
  <div class="card scrap-card shadow-sm text-center p-3"
       data-scrap="brass"
       data-bs-toggle="modal"
       data-bs-target="#scrapModal">

    <img src="/static/brass.jpeg" class="mx-auto mb-2" width="260">
    <h6>Brass</h6>

  </div>
</div>

<!-- Glass -->
<div class="col-md-3" style="cursor: pointer;">
  <div class="card scrap-card shadow-sm text-center p-3"
       data-scrap="glass"
       data-bs-toggle="modal"
       data-bs-target="#scrapModal">

    <img src="/static/glass.jpg" class="mx-auto mb-2" width="260">
    <h6>Glass</h6>

  </div>
</div>

<!-- E-Waste -->
<div class="col-md-3" style="cursor: pointer;">
  <div class="card scrap-card shadow-sm text-center p-3"
       data-scrap="electronics"
       data-bs-toggle="modal"
       data-bs-target="#scrapModal">

    <img src="/static/ewaste.jpg" class="mx-auto mb-2" width="260">
    <h6>E-Waste</h6>

  </div>
</div>

<div class="col-md-3" style="cursor: pointer;">
  <div class="card scrap-card shadow-sm text-center p-3"
       data-scrap="plastic"
       data-bs-toggle="modal"
       data-bs-target="#scrapModal">

    <img src="/static/plastic.webp" class="mx-auto mb-2" width="260">
    <h6>Plastic</h6>

  </div>
</div>

<!-- Paper -->
<div class="col-md-3" style="cursor: pointer;">
  <div class="card scrap-card shadow-sm text-center p-3"
       data-scrap="paper"
       data-bs-toggle="modal"
       data-bs-target="#scrapModal">

    <img src="/static/news.jpg" class="mx-auto mb-2" width="260">
    <h6>Paper</h6>

  </div>
</div>

<!-- Iron -->
<div class="col-md-3" style="cursor: pointer;">
  <div class="card scrap-card shadow-sm text-center p-3"
       data-scrap="iron"
       data-bs-toggle="modal"
       data-bs-target="#scrapModal">

    <img src="/static/iron.webp" class="mx-auto mb-2" width="260">
    <h6>Iron</h6>

  </div>
</div>

<!-- Aluminium -->
<div class="col-md-3" style="cursor: pointer;">
  <div class="card scrap-card shadow-sm text-center p-3"
       data-scrap="aluminium"
       data-bs-toggle="modal"
       data-bs-target="#scrapModal">

    <img src="/static/aluminium.png" class="mx-auto mb-2" width="260">
    <h6>Aluminium</h6>

  </div>
</div>

<!-- Copper -->
<div class="col-md-3" style="cursor: pointer;">
  <div class="card scrap-card shadow-sm text-center p-3"
       data-scrap="copper"
       data-bs-toggle="modal"
       data-bs-target="#scrapModal">

    <img src="/static/copper.jpg" class="mx-auto mb-2" width="260">
    <h6>Copper</h6>

  </div>
</div>

<!-- Brass -->
<div class="col-md-3" style="cursor: pointer;">
  <div class="card scrap-card shadow-sm text-center p-3"
       data-scrap="brass"
       data-bs-toggle="modal"
       data-bs-target="#scrapModal">

    <img src="/static/brass.jpeg" class="mx-auto mb-2" width="260">
    <h6>Brass</h6>

  </div>
</div>

<!-- Glass -->
<div class="col-md-3" style="cursor: pointer;">
  <div class="card scrap-card shadow-sm text-center p-3"
       data-scrap="glass"
       data-bs-toggle="modal"
       data-bs-target="#scrapModal">

    <img src="/static/glass.jpg" class="mx-auto mb-2" width="260">
    <h6>Glass</h6>

  </div>
</div>

<!-- E-Waste -->
<div class="col-md-3" style="cursor: pointer;">
  <div class="card scrap-card shadow-sm text-center p-3"
       data-scrap="electronics"
       data-bs-toggle="modal"
       data-bs-target="#scrapModal">

    <img src="/static/ewaste.jpg" class="mx-auto mb-2" width="260">
    <h6>E-Waste</h6>

  </div>
</div>

</div>

    </div>
</div>
<div class="modal fade" id="postScrapModal" tabindex="-1">
<div class="modal-dialog modal-md">
<div class="modal-content">

<div class="modal-header">
<h5 class="modal-title">Post Scrap</h5>
<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body">

<form method="POST" action="{% url 'post_scrap' %}" enctype="multipart/form-data">
{% csrf_token %}

<div class="row">

<div class="col-md-12 mb-3">
<label>Scrap Type</label>
<select name="scrap_type" class="form-select" required>

<option value="plastic">Plastic</option>
<option value="paper">Paper</option>
<option value="aluminium">Aluminium</option>
<option value="iron">Iron</option>
<option value="brass">Brass</option>
<option value="copper">Copper</option>
<option value="electronics">E-Waste</option>
<option value="glass">Glass</option>
<option value="mixed">Mixed</option>
</select>
</div>

<div class="col-md-12 mb-3">
<label>Quantity</label>
<input type="text" name="quantity" class="form-control" placeholder="e.g. 10kg" required>
</div>

<div class="col-md-12 mb-3">
<label>Upload Scrap Image</label>
<input type="file" name="scrap_image" class="form-control" required>
</div>

<div class="mb-2">
<label class="form-label">Address</label>
<input type="text" name="flat_no" class="form-control" value="{{ profile.flat_no }}" placeholder="Flat / Room No." required>
</div>

<div class="mb-2">
<label class="form-label">Street</label>
<input type="text" name="building_name" class="form-control" value="{{ profile.building_name }}" placeholder="Building / Chawl Name" required>
</div>

<div class="mb-2">
<label class="form-label">Area</label>
<input type="text" name="area" class="form-control" value="{{ profile.area }}" placeholder="e.g. Ghatkopar/Andheri" required>
</div>

<div class="mb-3 text-start">
<label class="form-label">Pincode</label>
<input type="text" class="form-control" placeholder="e.g. 4000xx" name="pincode"
value="{{ profile.pincode }}">
</div>


</div>

<div class="text-end">
<button type="submit" class="btn btn-success">Submit</button>
</div>

</form>

</div>
</div>

</div>
</div>
<div class="modal fade" id="scrapModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="scrapModalTitle">Post Scrap</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <form method="POST" action="{% url 'post_scrap' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="modal-body">

          <input type="hidden" name="scrap_type" id="scrapTypeInput">

          <div class="mb-3">
            <label>Quantity (kg)</label>
            <input type="number" name="quantity" class="form-control" required>
          </div>

          <div class="mb-3">
            <label>Upload Scrap Image</label>
            <input type="file" name="scrap_image" class="form-control">
          </div>

          <div class="mb-2">
<label class="form-label">Address</label>
<input type="text" name="flat_no" class="form-control" value="{{ profile.flat_no }}" placeholder="Flat / Room No." required>
</div>

<div class="mb-2">
<label class="form-label">Street</label>
<input type="text" name="building_name" class="form-control" value="{{ profile.building_name }}" placeholder="Building / Chawl Name" required>
</div>

<div class="mb-2">
<label class="form-label">Area</label>
<input type="text" name="area" class="form-control" value="{{ profile.area }}" placeholder="e.g. Ghatkopar/Andheri" required>
</div>

<div class="mb-3 text-start">
<label class="form-label">Pincode</label>
<input type="text" class="form-control" placeholder="e.g. 4000xx" name="pincode"
value="{{ profile.pincode }}">
</div>

</div>
<div class="modal-footer">
          <button class="btn btn-success">Submit</button>
        </div>
        </div>

        

      </form>

    </div>
  </div>
</div>
<script>

document.querySelectorAll(".scrap-card").forEach(card => {

    card.addEventListener("click", function(){

        let scrap = this.getAttribute("data-scrap");

        // Set hidden input
        document.getElementById("scrapTypeInput").value = scrap;

        // Capitalize first letter
        let scrapName = scrap.charAt(0).toUpperCase() + scrap.slice(1);

        // Change modal title
        document.getElementById("scrapModalTitle").innerText = "Post Scrap: " + scrapName;

    });

});

</script>
{% endblock body%}
